<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>contactEmailRot13</key>
  <string></string>
  <key>contactName</key>
  <string>arcnor</string>
  <key>description</key>
  <string>Hecate (Orcus) Syntax</string>
  <key>name</key>
  <string>Hecate</string>
  <key>uuid</key>
  <string>214ff73a-56f3-4a64-b8f8-041d8fc43a75</string>
</dict>
</plist>
